enable_log_ingestion: false

# ECS monitoring 
ecs_aws_region: eu-central-1
monitoring_secret_key_dev: "{{lookup('amazon.aws.aws_ssm', '/oonidevops/secrets/ooni_monitoring/secret_key', profile='oonidevops_user_dev')}}"
monitoring_access_key_dev: "{{lookup('amazon.aws.aws_ssm', '/oonidevops/secrets/ooni_monitoring/access_key', profile='oonidevops_user_dev')}}"

ecs_targets_dir: "/var/lib/prometheus/file_discovery"