---
# For prometheus scrape requests
- name: Flush all handlers 
  meta: flush_handlers
- name: Allow traffic on port 9200
  tags: prometheus-proxy
  blockinfile:
    path: /etc/ooni/nftables/tcp/9200.nft
    create: yes
    block: |
      add rule inet filter input tcp dport 9200 counter accept comment "prometheus"
  notify:
    - reload nftables  

# TODO remove this task when the monitoring proxy is deployed
- name: Allow traffic on port 9100
  tags: prometheus-proxy
  blockinfile:
    path: /etc/ooni/nftables/tcp/9100.nft
    create: yes
    block: |
      add rule inet filter input tcp dport 9100 counter accept comment "node exporter"
  notify:
    - reload nftables  

- name: Create the modules-enabled directory if not exists
  tags: webserv
  ansible.builtin.file:
    path: /etc/nginx/modules-enabled
    state: directory
    mode: 0755
    owner: root
    group: root

- name: Add prometheus proxy nginx config
  tags: webserv
  template:
    src: templates/prometheus-proxy.conf
    dest: /etc/nginx/conf.d/prometheus-proxy.conf
    mode: 0755
    owner: root
  notify:
    - reload nginx
    - restart nginx

# Setup swap
- name: Check if swap file exists
  ansible.builtin.stat:
    path: /swapfile
  register: swapfile_stat
  tags: swap

- name: Create 4GB swap file
  ansible.builtin.command:
    cmd: fallocate -l 4G /swapfile
  when: not swapfile_stat.stat.exists
  become: yes
  tags: swap

- name: Set swap file permissions
  ansible.builtin.file:
    path: /swapfile
    mode: '0600'
    owner: root
    group: root
  become: yes
  tags: swap

- name: Format swap file
  ansible.builtin.command:
    cmd: mkswap /swapfile
  when: not swapfile_stat.stat.exists
  become: yes
  tags: swap

- name: Enable swap
  ansible.builtin.command:
    cmd: swapon /swapfile
  when: not swapfile_stat.stat.exists
  become: yes
  tags: swap

- name: Add swap to /etc/fstab
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: /swapfile none swap sw 0 0
    regexp: '^/swapfile'
    state: present
  become: yes
  tags: swap
