[Unit]
Description=Prometheus YACE Exporter
After=network.target

[Service]
Type=simple
User={{ yace_user }}
Group={{ yace_group }}
ExecStart={{ yace_bin_path }} --config.file={{ yace_config_path }} --web.listen-address={{ yace_listen_address }} --log.format={{ yace_log_format }} {{ yace_extra_flags }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
