---
# For prometheus scrape requests
- name: Flush all handlers
  meta: flush_handlers

- name: Allow traffic on port 9100
  become: true
  tags: prometheus-proxy
  blockinfile:
    path: /etc/ooni/nftables/tcp/9100.nft
    create: yes
    block: |
      add rule inet filter input tcp dport 9100 counter accept comment "node exporter"
  notify:
   - reload nftables

# For statsd importer metrics
- name: Flush all handlers
  meta: flush_handlers

- name: Allow traffic on port 9102
  become: true
  tags: prometheus-proxy
  blockinfile:
    path: /etc/ooni/nftables/tcp/9102.nft
    create: yes
    block: |
      add rule inet filter input tcp dport 9102 counter accept comment "node exporter"
  notify:
   - reload nftables

# For incoming testlists traffic
- name: Allow traffic on port 80
  become: true
  tags: testlists
  blockinfile:
    path: /etc/ooni/nftables/tcp/80.nft
    create: yes
    block: |
      add rule inet filter input tcp dport 80 counter accept comment "testlists"
  notify:
   - reload nftables

### Create testlists user
- name: Ensure the testlists group exists
  ansible.builtin.group:
    name: "{{ testlists_user }}"
    state: present
  become: yes

- name: Create the testlists user
  ansible.builtin.user:
    name: "{{ testlists_user }}"
    home: "{{ testlists_home }}"
    shell: "/bin/bash"
    group: "{{ testlists_user }}"
    create_home: yes
    system: yes
  become: yes

- name: Set ownership of the testlists directory
  ansible.builtin.file:
    path: "{{ testlists_home }}"
    owner: "{{ testlists_user }}"
    group: "{{ testlists_user }}"
    state: directory
    mode: "0700"
  become: yes

### Run testlists
- name: Make sure that the testlists configuration directory exists
  ansible.builtin.file:
    path: /opt/{{testlists_user}}/backend/testlists/
    state: directory
    mode: "0700"
    owner: "{{testlists_user}}"
    group: "{{testlists_user}}"

- name: Create configuration file
  tags: testlists
  template:
    src: templates/testlists.conf
    dest: "/opt/{{testlists_user}}/backend/testlists/testlists.conf"
    mode: "0400"
    owner: "{{testlists_user}}"
  become: yes

- name: Ensure ooniapi directory existence
  ansible.builtin.file:
    path: /var/lib/ooniapi
    state: directory
    mode: "0711"
    owner: "{{testlists_user}}"
    group: "{{testlists_user}}"

- name: Ensure testlists var dir exists
  ansible.builtin.file:
    path: /var/lib/testlists
    state: directory
    mode: "0700"
    owner: "{{testlists_user}}"
    group: "{{testlists_user}}"

## Nginx ##
- name: Ensure /etc/nginx/sites-available directory exists
  file:
    path: /etc/nginx/sites-available
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Overwrite API nginx conf
  tags: testlists
  template:
    src: templates/nginx-api.conf
    dest: /etc/nginx/sites-available/ooni-api.conf
    mode: 0755
    owner: root
  vars:
    # Uses dehydrated
    certpath: /var/lib/dehydrated/certs/

- name: Create symlink for API nginx conf
  tags: testlists
  file:
    src=/etc/nginx/sites-available/ooni-api.conf
    dest=/etc/nginx/sites-enabled/ooni-api.conf
    state=link

- name: Get UID of a specific user
  command: id -u {{testlists_user}}
  register: user_uid
  changed_when: false

- name: Get GID of a specific user
  command: id -g {{testlists_user}}
  register: user_gid
  changed_when: false

- name: Ensure testlists is running
  community.docker.docker_container:
    env:
      CLICKHOUSE_URL: "{{ clickhouse_url }}"
    name: testlists
    image: ooni/api-testlists:latest
    state: started
    user: "{{user_uid.stdout}}:{{user_gid.stdout}}"
    # use network mode = host to allow traffic from testlists to the statsd exporter without
    # creating a network with redirection rules to match the ports
    network_mode: host
    volumes:
      - /opt/{{testlists_user}}/backend/testlists/testlists.conf:/etc/ooni/testlists.conf
      - /var/lib/ooniapi:/var/lib/ooniapi
      - /var/lib/testlists:/var/lib/testlists
  tags:
    - testlists
