[Unit]
Description=Test helper that will start an echo session on request
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/local/bin/echo --port {{port}}
Restart=on-failure
RestartSec=5
User=testhelpers
Group=testhelpers
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
