---
- name: Setup OpenVPN server
  hosts: openvpn-server1.ooni.io
  become: true
  remote_user: root
  roles:
    - ssh_users

- name: Include notebook playbook
  ansible.builtin.import_playbook: deploy-notebook.yml

- name: Include testlists playbook
  ansible.builtin.import_playbook: deploy-testlists.yml

# commented out due to the fact it requires manual config of ~/.ssh/config
#- name: Setup codesign box
#  hosts: codesign-box
#  become: true
#  remote_user: ubuntu
#  roles:
#    - codesign_box
