# ansible-managed in ooni/devops.git
# Nomad-specific settings found here:
# https://developer.hashicorp.com/nomad/docs/deploy/clusters/reverse-proxy-ui#extend-connection-timeout

server {
    listen 4645 ssl http2;

    server_name {{ inventory_hostname }};
    include /etc/nginx/ssl_intermediate.conf;

    ssl_certificate /var/lib/dehydrated/certs/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /var/lib/dehydrated/certs/{{ inventory_hostname }}/privkey.pem;
    ssl_trusted_certificate /var/lib/dehydrated/certs/{{ inventory_hostname }}/chain.pem;

    location / {
        auth_basic           "Nomad Admin Area";
        auth_basic_user_file {{ nomad_htpasswd_path }};


        # Nomad blocking queries will remain open for a default of 5 minutes.
        # Increase the proxy timeout to accommodate this timeout with an
        # additional grace period.
        proxy_read_timeout 319s;

        # Nomad log streaming uses streaming HTTP requests. In order to
        # synchronously stream logs from Nomad to NGINX to the browser
        # proxy buffering needs to be turned off.
        proxy_buffering off;

        # The Upgrade and Connection headers are used to establish
        # a WebSockets connection.
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        # The default Origin header will be the proxy address, which
        # will be rejected by Nomad. It must be rewritten to be the
        # host address instead.
        proxy_set_header Origin "${scheme}://${proxy_host}";

        proxy_pass http://127.0.0.1:4646;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # WebSocket support (required for Nomad's logs/shell/events)
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
